body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.container{
  margin-top:90px;
}

.spring-name{
  color:navy;
}

.author{
  font-style:italic;
}

#one, #two, #three, #four, #five {
  display:none;
}
