<div class="container">
  <h3 class="head">We Really Know What we're Talking About</h3>

<div class="col-sm-12">
  <div class="jess us col-sm-4">
  </div>

  <div class="col-sm-8">
    <h3 class="about">Jess is a bad ass. She knows more springs than you have hairs on your head. She really knows what she's talking about.</h3>
  </div>
</div>

<div class="col-sm-12">
  <div class="col-sm-8">
    <h3 class="about">Gene lives, eats, and sleeps in springs. He really knows what he's talking about.</h3>
  </div>

  <div class="us gene col-sm-4">
  </div>
</div>

<div class="col-sm-12">
  <div class="us erin col-sm-4">
  </div>

  <div class="col-sm-8">
    <div class="about">
      <h3>Erin was born in a hot spring. She drinks a hot springs cocktail three times a day to keep the doctor away. She really knows what she's talking about.</h3>
    </div>
  </div>


</div>


</div>
