

We really know what we're talking about.

<!-- <form id="find-springs">
  {{input value = lat-long}}
  <button {{action 'lookup'}} class="btn btn-submit">Lookup Hot Spring</button>
</form> -->
<div id="googleMap" style="width:500px;height:380px;"></div>

<div class="map-canvas">
</div>
